@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Libre+Caslon+Display&display=swap");

:root {
  /* Light mode */
  --background: rgb(205, 222, 222);
  --alter-background: rgb(189, 209, 209);
  --dark-background: rgb(63, 75, 75);
  --border: ;
  --text-color: rgb(63, 75, 75);
  --text-color-compliment: rgb(158, 187, 185);
  --border: rgb(55, 58, 58);
  --font-serif: "Libre Caslon Display", serif;
  --font-sans-serif: "Jura", sans-serif;
}

/* Dark Mode */
html.dark {
  --background: rgb(98, 117, 117);
  --alter-background: rgb(156, 163, 163);
  --dark-background: rgb(63, 75, 75);
  --border: rgb(55, 58, 58);
  --text-color: rgb(25, 41, 40);
}

h1 {
  font-family: var(--font-serif);
  font-size: 5rem;
}

h2 {
  font-family: var(--font-serif);
  font-size: 2rem;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.columntype {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  font-family: var(--font-sans-serif);
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--alter-background);
  color: var(--text-color);
  border-color: var(--border);
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

button {
  font-family: var(--font-sans-serif);
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--alter-background);
  color: var(--text-color);
  border-color: var(--border);
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

button:hover {
  box-shadow: 0.4rem 0.3rem 0.5rem 0.1rem var(--dark-background);
}

.top-control {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 10%;
  width: 98%;

  margin: 1rem 1rem;
  display: flex;
  justify-content: right;
}

.back-link {
  position: absolute;
  top: 0%;
  left: 0%;
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--font-serif);
  font-weight: bold;
  font-size: 1.5rem;

  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

.back-link:hover {
  text-decoration: underline;
}

.toggle-dark {
  position: absolute;
  top: 0%;
  right: 0%;
}

table {
  font-family: var(--font-sans-serif);
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--alter-background);
  overflow: hidden;
  color: var(--text-color);

  display: table;
  table-layout: fixed;
}

td,
th {
  width: fit-content;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  display: table;
  width: 100%;
  height: 10%;
  table-layout: fixed;
}

tbody {
  display: block;
  height: 100%;
  max-height: 20rem;
  overflow-y: auto;
}

th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
}

td {
  border-top: 1px solid var(--border);
}

th {
  background-color: var(--dark-background);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

tr:hover {
  background-color: var(--dark-background);
  color: white;
}

td {
  background-color: transparent;
}

h2 {
  font-size: 3rem;
}

.table-wrapper {
  justify-content: start;
  height: fit-content;
  max-height: 25rem;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid var(--border);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: 2rem auto;
  background: linear-gradient(
    var(--dark-background) 0% 50%,
    var(--alter-background) 50% 100%
  );
}
